# Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.*.backup

# Terraform directories
.terraform/

# Terraform variables (содержат секреты)
*.tfvars
*.tfvars.json

# Crash logs
crash.log
crash.*.log

# SSH ключи
*.pem


# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/